# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

trigger:
- master

pool:
  vmImage: 'macos-latest'

steps:
  - task: InstallAppleCertificate@2
    inputs:
      certSecureFile: 'Wendercast.p12'
      certPwd: 'th05pass'
  - task: InstallAppleProvisioningProfile@1
    inputs:
      provProfileSecureFile: 'Wendercast.mobileprovision'
  - task: Xcode@5
    displayName: 'Build iOS App'
    inputs:
      actions: 'build'
      scheme: ''
      sdk: 'iphoneos'
      configuration: 'Release'
      exportOptions: 'specify'
      exportMethod: 'development'
      xcWorkspacePath: '**/*.xcodeproj/project.xcworkspace'
      xcodeVersion: 'default' # Options: 8, 9, 10, default, specifyPath
      packageApp: true
